@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Fira+Sans:ital,wght@0,100;0,400;1,200&family=Mr+Dafoe&family=Outfit&family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,500&family=VT323&display=swap");
body {
  background-color: hsl(212, 45%, 89%);
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 100vw; */
  /* background-color: aqua; */
}
.component {
  background-color: rgb(255, 255, 255);
  max-width: 280px;
  /* background-color: aliceblue; */
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  font-family: "Outfit";
}
.component > img {
  /* width: 280px; */
  border-radius: 15px;
  max-width: 100%;
}
.component > p {
  color: grey;
}
.component > h3 {
  font-size: 22px;
}
.attribution {
  font-size: 17px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
